<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сведения о земельном участке</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!--    <script src="http://www.geo-complex.com/js/ejs.js"></script> -->




</head>

<body>
    <div style="margin:50px;">
        <div class="jumbotron" style="padding:20px;">
            <h2>Справочная информация в режиме archive</h2>
            <table border=1 style="padding:10px;">
                <tr>
                    <td>Земельный участок</td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="8" cellpadding="0" width="100%">
                            <tr>
                                <td align="left" valign="top" width="250" nowrap="true">
                                    Кадастровый номер:
                                </td>
                                <td width="75%" valign="top" id="td_cn">
                                    <%=cn %>
                                </td>
                            </tr>

                            <tr>
                                <td> Вид земельного участка</td>
                                <td width="200" id="td_state"> 
                                    <%=NAMEVID_OBJLOT%>
                                    </td>
                            </tr>
                            <tr>
                            <tr>
                                <td> Дата постановки на кадастровый учет:</td>
                                <td width="200" id="td_date"> 
                                    --
                                </td>
                            </tr>
                            <tr>

                            <tr>
                                <td align="left" valign="top" width="250" nowrap="true">
                                    <nobr>Категория земель:</nobr>
                                </td>
                                <td width="75%">
                                    --
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" width="250" nowrap="true">
                                    <nobr>Разрешенное использование:</nobr>
                                </td>
                                <td width="75%">
                                    <%=RAZRVID_OBJLOT%>
                                </td>
                            </tr>

                    <td>Площадь декларированная</td>
                    <td >
                        <%=  SQDECL_OBJLOT%>
                    </td>
                </tr>
                <tr>
                    <td>Площадь уточненная</td>
                    <td >
                      <%=SQTOCH_OBJLOT%>
                    </td>
                </tr>

             <tr>
                 <td>Дата уточнения</td>
                 <td>
                     <%=SQTOCHDATE_OBJLOT%>
                 </td>
             </tr>

                <tr>
                    <td align="left" valign="top" width="250" nowrap="true">
                        <nobr>Адрес (местоположение):</nobr>
                    </td>
                    <td width="75%" valign="top">
                       <%=PLACEDISC_ASNUM%>
                    </td>
                </tr>


                <tr>
                    <td align="left" valign="top" width="250">
                        <nobr>Форма собственности:</nobr>
                    </td>
                    <td valign="top">
                        <b>Частная</b>
                    </td>
                </tr>

                <tr>
                    <td>GID</td>
                    <td>
                        <%=GID_OBJ%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="sw_r_enc" style="padding-left: 30px; background: transparent url('http://www.geo-complex.com/images/mdir2-t.gif') no-repeat 10px 50%; line-height: 30px; color: #A0A0A0;cursor: pointer;"
                            onclick="javascript:ns_Z7_01HA1A42KODT90AR30VLN22001_blockWrapperMax('r_enc');">
                            <b>
                                <font color="black">Права и ограничения</font>
                            </b>
                        </div>
                    </td>
                </tr>
            </table>
            </td>
            </tr>
            </table>
            <br>

        </div>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Новый запрос</a></p>        
    </div>

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</html>